<div class="container">
  <h2>Edit group</h2>
  <%= form_with model: @group, local: true do |f| %>
    <% f.hidden_field :owner_id %>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class:"form-control" %>
    <%= f.label :introduction, "Introduction"%>
    <%= f.text_area :introduction, class:"form-control" %>
    <%= f.label :image, "Image" %>
    <%= f.attachment_field :image, class:"form-control-file" %>
    <%= f.submit 'グループ更新', class:"btn btn-success"%>
  <% end %>
</div>

