<%= render 'layouts/error', model: @book %>

<h2 class="mb-3">User info</h2>
  <%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <table class="table">
    <tbody>
      <tr></tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <a href="/users/<%= current_user.id %>/edit", class="fas fa-user-cog btn btn-lg btn-block btn-outline-secondary"></a>
  </div>