<div class="container ">
  <div class="row">
    <div class="col-md-3 mt-4">
      <%= render 'layouts/error', model: @book %>
      <%= render 'user_info', user: @user %>
      <%= render 'books/new_book', book: @new_book %>
    </div>
    <div class="col-md-8 offset-md-1 mt-4">
      <h2 class="mb-3" >Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <% @books.each do |book| %>
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(book.user_id) do %>
                  <%= attachment_image_tag book.user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg", size: "40x40" %>
                <% end %>
              </td>
              <td class="text-dark">
                <%= link_to book_path(book) do %>
                  <%= book.title%>
                <% end %>
              </td>
              <td><%= book.body %></td>
              <td>
                コメント数：<%= book.book_comments.count%>
              </td>
              <td></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>

  </div>
</div>
