<div class="container">
  <h3>talk</h3>
  <div id="message"> 
    <%= render 'message', chats: @chats%>
  </div>
  <hr>
  <p>新しいメッセージを作成</p>
  <%= form_with model: @chat, method: :post do |f| %>
    <%= f.text_field :message, class:'form-control' %>
    <%= f.hidden_field :room_id %>
    <%= f.submit '送信', class:"mt-2 btn btn-info btn-sm d-block ml-auto" %>
  <% end %>
</div>


