<div class="col-md-3 mt-4">
  <h2 class="mb-3">User info</h2>
  <%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <table class="table">
    <tbody>
      <tr></tr>
      <tr>
        <th>name</th>
        <th><%= current_user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= current_user.introduction %></th>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <a href="/users/<%= current_user.id %>/edit", class="fas fa-user-cog btn btn-lg btn-block btn-outline-secondary"></a>
  </div>

  <h2 class="my-3">New Book</h2>
  <%= form_with model: book, local:true do |f| %>
    <div class="form-group">
      <%= f.label :title, "Title" %>
      <%= f.text_field :title, class:"form-control mb-2" %>
    </div>
    <div class="form-group">
      <%= f.label :opinion, "Opinion" %>
      <%= f.text_area :opinion, rows:"3",  class:"form-control mb-2" %>
    </div>
    <div class="form-group">
      <%= f.submit "Create Book", class:"btn btn-success"%>
    </div>
  <% end %>
</div>
