<div class="container">
  <div class="row">
    <div class="col-md-3 mt-4">
      <h2>User info</h2>
      <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
      <table class="table">
        <tbody>
          <tr></tr>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <a href="/users/<%= current_user.id %>/edit", class="fas fa-user-cog btn btn-lg btn-block btn-outline-secondary"></a>
      </div>

      <h2 class="mb-2">New Book</h2>
      <%= form_with model: @book, local:true do |f| %>
        <div class="form-group">
          <%= f.label :title, "Title" %>
          <%= f.text_field :title, class:"form-control mb-2" %>
        </div>
        <div class="form-group">
          <%= f.label :opinion, "Opinion" %>
          <%= f.text_area :opinion, rows:"3",  class:"form-control mb-2" %>
        </div>
        <div class="form-group">
          <%= f.submit "Create Book", class:"btn btn-success"%>
        </div>
      <% end %>




    </div>
    <div class="col-md-8 offset-md-1">
      <h2 >Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <% @books.each do |book| %>
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(book.user_id) do %>
                  <%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" %>
                <% end %>
              </td>
              <td class="text-dark">
                <%= link_to book_path(book) do %>
                  <%= book.title%>
                <% end %>
              </td>
              <td><%= book.opinion %></td>
              <td></td>
            </tr>
          </tbody>
        <% end %>
      </table>

    </div>

  </div>
</div>