<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3 mt-4">
      <%= render 'layouts/error', model: @new_book %>

      <h2 class="mb-3">User info</h2>
      <%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
      <table class="table">
        <tbody>
          <tr></tr>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <a href="/users/<%= @user.id %>/edit", class="fas fa-user-cog btn btn-lg btn-block btn-outline-secondary"></a>
      </div>

      <%= render 'books/new_book', book: @new_book %>
    </div>

    <div class="col-md-8 offset-md-1 mt-4">
       <h2>Book detail</h2>
       <table class="table">
         <tbody>
           <tr></tr>
           <tr>
             <td>
               <%= link_to user_path(@book.user) do %>
                 <%= attachment_image_tag @book.user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg", size: "50x50", class:"mb-2"  %>
                  <br>
                 <%= @book.user.name %>
               <% end %>
             </td>
             <td>
               <%= link_to book_path(@book) do %>
                 <%= @book.title %>
               <% end %>
             </td>
             <td><%= @book.body %></td>
             <td>
               <%= render 'books/favorite', book: @book %>
             </td>
             <td>コメント数：<%= @book.book_comments.count %></td>
             <% if current_user.id == @book.user_id %>
               <td>
                 <%= link_to "Edit", edit_book_path(@book), class:"btn btn-success btn-sm" %>
               </td>
               <td>
                 <%= link_to "Destroy", book_path(@book), method: :delete, class:"btn btn-danger btn-sm", "data-confirm" => "本当に消しますか" %>
               </td>
             <% end %>
           </tr>
         </tbody>
       </table>
       <%= render 'layouts/error', model: @book_comment %>
       <%= render 'books/comment', book: @book, book_comment: @book_comment, book_comments: @book.book_comments %>
     </div>
  </div>
</div>