<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
      <h3>Bookers</h3>
      <% if user_signed_in? %>
        <li>
          Home
        </li>
        <li>
          Users
        </li>
        <li>
          Books
        </li>
        <li>
          Log out
        </li>
      <% else %>
        <li>
          Home
        </li>
        <li>
          About
        </li>
        <li>
          Sign up
        </li>
        <li>
          Log in
        </li>
      <% end %>
    </header>
    <main>
      
    </main>
    <%= yield %>
  </body>
</html>
